.CommonButton {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  margin-top: 10px;
  height: 50px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  width: 100%;
}
.CommonButton:hover {
  color: #fff !important;
  background-color: #23272b !important;
  border-color: #1d2124 !important;
}
.width-48 {
  width: 48%;
}
.redSend {
  color: red;
  height: 50px;
  padding: 0.5rem 0rem;
  font-size: 80%;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-bottom: 50px;
  text-decoration: none;
}

.redSend:hover {
  background-color: none;
  text-decoration: underline;
  color: red;
}
.link2 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: red;
}
.regiserLink-1:hover {
  text-decoration: underline !important;
  color: red;
}
.PhoneInput input {
  height: 50px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid #ced4da;
}
.PhoneInput input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.dropDwon {
  height: 40px;
  width: 100%;
  border: 1px solid #ced4da;
}
.form-check-label {
  color: gray !important;
  font-weight: 500;
}

.qr-notice {
  font-weight: bolder;
}

.qr-notice li span {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.hieght-50px {
  height: 50px;
}
.loginLinks {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}
.loginLinks:hover {
  color: red;
  text-decoration: underline;
}

.react-datepicker__input-container input {
  width: 93%;
  height: 50px;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 12px;
}
.react-datepicker__input-container input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.form-check-input.is-invalid:checked,
.was-validated .form-check-input:invalid:checked {
  background-color: #ea222a;
  border-color: #ea222a;
}
.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
  border-color: gray;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #ea222a;
  border-color: #ea222a;
}
.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: gray;
}
.PhoneInputInValid input {
  border-color: #dc3545;
}
.PhoneInputValid input {
  border-color: #198754;
}

.selectbox {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 50px;
}
.wdith49 {
  width: 49%;
}
.wdith48 {
  width: 48%;
}

.errorNotify {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
